body {
	line-height: 1.4;
	background: #fefefe;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-family: sans;
	padding-bottom: 2em;
}

.navbar a {
	padding: 0.2em;
	color: #444;
}

img {
	height: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

.error {
	color: red;
}

table, th, td {
	border: 1px solid black;
}

td, th {
        padding-left: 0.5em;
        padding-right: 0.5em;
}

.overall {
	float: left;
}

#prof {
	clear: both;
}

.blueText
{
	color: blue;
}

pop_graph img {
	display: none;
}

pop_graph:hover img {
	display: block;
}

#curve {
	width: 30em;
}

.prof_curve {
	width: 10em;
	height: 100%;
}

#flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
