<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>GPA++</title>
</head>
<body>
	<div class="navbar">
		<a href="/gpa">Home</a>
		<a href="https://github.com/chin123/gpa">Source Code</a>
	</div>
	<br>
	<form action="" method="get">
		<label for="course">Course name:</label>
		{% if prevcourse %}
		<input name="course" id="course" type="text" value="{{ prevcourse }}">
		{% else %}
		<input name="course" id="course" type="text">
		{% endif %}
		<input type="submit" value="Submit">
		<select id="semester" name="semester">
			<option value="All">All Semesters</option>
			{% for s in semesters %}
			{% if s.selected == true %}
			<option value="{{ s.value }}" selected>{{ s.text }}</option>
			{% else %}
			<option value="{{ s.value }}">{{ s.text }}</option>
			{% endif %}
			{% endfor %}
		</select>
		<details>
			<summary>Filters</summary>
			{% for f in filters %}
				{% if f.checked == true %}
				<input type="checkbox" id="{{ f.value }}" name="{{ f.value }}" checked>
				{% else %}
				<input type="checkbox" id="{{ f.value }}" name="{{ f.value }}">
				{% endif %}
				<label for="{{ f.value }}">{{ f.text }}</label>
				<br>
			{% endfor %}
		</details>
	</form>
	<br>


        {% if course %}
	<h2> <a href="{{ course_explorer }}">{{ course }}</a>, {{ semester }}</h2>
	<h2> Average GPA: {{ gpa }} </h2>
	<div id="overall">
	<table class="overall">
	<tr>
	<th>Grade</th>
	<th>% of students</th>
	</tr>
	{% for s in perc %}
	<tr>
	<td> {{ s.g }}
	<td> {{ s.p }}
	</tr>
	{% endfor %}
	</table>

        <img src="{{ url_for('static', filename='images') }}/{{ img }}"/>
	</div>
	<br>
	<br>
	<div id="prof">
	<center>
	<table>
	<tr>
	<th>Professor</th>
	<th>Number of Students</th>
	<th>Average GPA</th>
	<th>Standard Deviation of GPA</th>
	</tr>
	{% for s in prof_stats %}
	<tr>
	<td> {{ s.prof }}
	<td> {{ s.total }}
	<td> {{ s.avg }}
	<td> {{ s.std }}
	</tr>
	{% endfor %}
	</table>
	</center>
	</div>
        {% else %}
        {% if course_list %}
	<table>
	<tr>
	<th>Course</th>
	<th>Average GPA</th>
	<th>Standard Deviation of GPA</th>
	</tr>
	{% for course in course_list %}
	<tr>
	<td> <a href="{{ course.link }}">{{ course.name }}</a>
	<td> {{ course.avg }}
	<td> {{ course.std }}
	</tr>
	{% endfor %}
	</table>
        {% else %}
        <p> Enter a course name to begin! </p>
        {% endif %}
        {% endif %}

        {% if err %}
        <p class="error"> {{ err }} </p>
        {% endif %}
</body>
</html>
